.buttonContainer {
    position: fixed;
    bottom: 5vw;
    right: 1vw;
    z-index: 50;
}

.terminalIsExpanded{
    bottom: 16vw;
}

.terminalIsHidden{
    bottom: 1vw;
}

.backToTopButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;
    background-color: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.125vw;
    text-align: center;
    font-family: var(--font-arrow), monospace;
    color: rgba(0, 0, 0, 0.63);
}

.backToTopButton:hover {
    width: 10vw;
    border-radius: 100px;
    height: 2.25vw;
}

.pillButton {
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 100px;
    overflow: hidden;
    font-family: var(--font-family), monospace;
    transition: transform 0.3s, opacity 0.3s;
}

.pillButtonSection {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.63);
    padding: 0.5vw 1vw;
    cursor: pointer;
}

.copySection {
    border-right: 1px solid var(--text-color-shaded);
}

.topSection{
    font-family: var(--font-arrow) monospace;
}

.arrowSection {
    border-left: 1px solid var(--text-color-shaded);
}

.pillButtonSection:hover {
    background-color: rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.63);
}

.topSection:active,
.copySection:active,
.arrowSection:active {
    background: rgba(137, 162, 166, 0.9);
}
