.header{
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    margin-right: 5%;
}

.navList {
    display: flex;
    white-space: nowrap;
    font-size: var(--font-size-default);
    align-items: center;

    .mainTitle{
        display: flex;
        font-size: var(--font-size-default);
    }

    .navItems{
        display: flex;
    }

    .navItem {
        display: flex;

        .value {
            text-decoration: none;
            color: var(--highlight-color-green);
            cursor: pointer;
        }

        .valueBlue {
            text-decoration: none;
            color: var(--highlight-color-blue);
            cursor: pointer;
        }
    }
}

.darkerFont{
    color: var(--text-color-shaded);
}

.imports{
    font-size: var(--font-size-default);
    display: flex;
    flex-direction: column;
}

.comment{
    display: flex;
    white-space: nowrap;
    font-size: var(--font-size-default);
    align-self: flex-start;

    .comment:hover{
        color: var(--text-color);
    }
}


