.header{
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    padding-top: 1vw;
    margin-right: 5%;
    gap: 1vw;
}

.subTitle{
    font-size: var(--font-size-default);
}

.navList {
    display: flex;
    white-space: nowrap;
    font-size: var(--font-size-default);
    align-items: center;
    gap: 4vw;

    .mainTitle{
        display: flex;
        font-size: var(--font-size-title);
    }

    .navItems{
        display: flex;
    }

    .navItem {
        display: flex;

        .value {
            text-decoration: none;
            color: var(--highlight-color-green);
            cursor: pointer;
        }

        .valueBlue {
            text-decoration: none;
            color: var(--highlight-color-blue);
            cursor: pointer;
        }
    }
}

.darkerFont{
    color: var(--text-color-shaded);
}


