.search{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 40%;
    overflow-y: scroll;
    max-height: 60%;
    background: var(--terminal-background);
    z-index: 1000;
    border-radius: 1vw;
    border: 1px var(--terminal-border) solid;
    padding-top: 1vw;
    font-family: var(--font-terminal), monospace;
    scrollbar-width: none;
}

.search::-webkit-scrollbar {
    display: none;
}

.searchbar{
    width: 95%;
    height: 2.5vw;
    font-size: var(--font-size-default);
    font-family: var(--font-terminal), monospace;
    background: none;
    border: none;
    color: var(--text-color);
    outline: none;
    caret-color: var(--text-color);
    align-self: center;
}

.searchbar::placeholder {
    opacity: 0.8;
}

.searchItems{
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.commands{
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
}

.commandItems{
    width: 100%;
    padding: 0.5vw 0 0.5vw;
}

.commandItems:hover{
    background: rgba(2, 156, 225, 0.40);
    cursor: pointer;
}

.commandText{
    padding-left: 2.5%;
}

.actionButtons{
    display: flex;
    gap: 0.75vw;
    padding-left: 2.5%;

    .searchButton{
        background: var(--terminal-background);
        border-radius: 25px;
        padding: 0.75vw;
        border: 1px var(--terminal-button-border) solid;
        color: var(--text-color);
        cursor: pointer;
    }

    .searchButton:hover{
        background: #12343c;
    }

    .searchButton:active{
        background: #0f2c32;
    }
}

.suggestedItems{
    display: flex;
    flex-direction: column;
}

.suggestion{
    display: flex;
    gap: 1vw;
    width: 100%;
    padding: 0.5vw 0 0.5vw;

    .icon{
        display: flex;
        align-self: center;
        justify-self: center;
    }

    .suggestionText{
        display: flex;
        gap: 1vw;
        padding-left: 2.5%;
    }

}

.suggestion:hover{
    background: rgba(2, 156, 225, 0.40);
    cursor: pointer;
}

.suggestionTitle{
    padding-left: 2.5%;
}