.header{
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    margin-right: 5%;
    user-select: none;
    padding-left: 1.5vw;
}

.navList {
    white-space: nowrap;
    font-size: var(--font-size-default);
    display: flex;
    flex-direction: column;
}

.navItems{
    display: flex;
}

.navItem {
    display: flex;
    align-self: flex-start;

    .value {
        text-decoration: none;
        color: var(--highlight-color-green);
        cursor: pointer;
    }
}

.comment{
    display: flex;
    flex-direction: column;
    color: var(--text-color-shaded);
}

.comment:hover{
    color: rgba(82, 118, 128, 0.9);
    cursor: pointer;
}

.darkerFont{
    color: var(--text-color-shaded);
}

.imports{
    font-size: var(--font-size-default);
    display: flex;
    flex-direction: column;
}

