@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");

body {
    color: var(--text-color);
    background: var(--background-color);
    font-family: "Source Code Pro", monospace;
    line-height: 2em;
    margin: 0 !important;
    overflow-y: scroll;
    scrollbar-width: none;
}

:root::-webkit-scrollbar {
    display: none;
}

:root {
    --font-family: "Source Code Pro", monospace;
    --font-arrow: "Inter", monospace;
    --font-terminal: "Fira Code", monospace;
    --font-size-default: clamp(1.25rem, 0.5vw + 0.25rem, 2rem);
    --font-size-highlight: clamp(1.5rem, 1.1vw + 0.5rem, 2.5rem);
    --font-size-title: clamp(1.75rem, 1.3vw + 0.75rem, 3rem);

    --background-color: #012b36;
    --terminal-background: #173f48;
    --terminal-border: #2e5159;
    --terminal-button-border: #9eadae;
    --text-color: #dddddd;
    --text-color-shaded: rgba(63, 91, 99, 0.9);
    --highlight-color-blue: #029ce1;
    --highlight-color-green: #60d701;
}

@media (max-width: 1200px) {
    :root {
        --font-size-default: clamp(0.85rem, 0.2vw + 0.5rem, 1.25rem);
        --font-size-highlight: clamp(1rem, 0.4vw + 0.6rem, 1.75rem);
        --font-size-title: clamp(1.25rem, 0.7vw + 0.7rem, 2.25rem);
    }
}

@media (max-width: 820px) {
    :root {
        --font-size-default: clamp(0.75rem, 0.1vw + 0.4rem, 1rem);
        --font-size-highlight: clamp(0.85rem, 0.2vw + 0.5rem, 1.5rem);
        --font-size-title: clamp(1rem, 0.5vw + 0.6rem, 2rem);
    }
}

@media (max-width: 480px) {
    :root {
        --font-size-default: clamp(0.6rem, 0.05vw + 0.3rem, 0.85rem);
        --font-size-highlight: clamp(0.7rem, 0.1vw + 0.4rem, 1.25rem);
        --font-size-title: clamp(0.85rem, 0.3vw + 0.5rem, 1.75rem);
    }
}
