.page{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-default);
    user-select: none;
    padding: 1vw 17vw 3vw 1.5vw;
}

.darkerFont{
    color: var(--text-color-shaded);
    white-space: nowrap;
}

.line{

}

.internalLink{
    color: var(--highlight-color-green);
    text-decoration: none;
    cursor: pointer;
}