@import "../theme.scss";

.container {
  position: relative;
  margin-left: 5rem;
  margin-top: 5rem;
}

.titel {
  font-family: $title-font;
  color: $rose;
  font-weight: bold;
  position: absolute;
}

.titel2 {
  font-family: $title-font;
  color: white;
  font-weight: bold;
  position: absolute;
}
