@import "../theme.scss";

.container {
  position: relative;
  margin-left: 5rem;
  margin-top: 5rem;
}

.titel {
  font-family: $compact-font-1;
  color: $rose;
  font-size: 15vw;
  font-weight: 700;
  position: absolute;
  -webkit-text-stroke: 0.5rem $yellow;
}

