body, html {
  overflow: hidden;
  height: 100%;
}

.bunnyDesk {
  position: absolute;
  top: 7%;
  left: 0%;
  z-index: 10;
  width: 25%; /* Adjust the percentage as needed */
  height: auto; /* This maintains the aspect ratio */
}

.cvwindow-page {
  position: absolute;
  left: 12%;
}