// colors:
$pink: #EEB5CE;
$rose: #E87889;
$yellow: #F7E73D;
$blue: #071A5E;
$gray: #383347;

// fonts:
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
$title-font: 'Chicle';
$title-font-size: 20rem;