.body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.page-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.titel-page-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.titel-page-main {
    z-index: 10;
    pointer-events: none;
}

.gif {
    width: 65vw;
    height: 65vh;
    margin-left: 57vw;
    margin-top: 5vh;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
.bunny {
    width: 65vw;
    height: 65vh;
    margin-left: 36.84vw;
    margin-top: 11.5vh;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.raging-bunny {
    width: 120vw;
    height: 120vh;
    margin-left: 13vw;
    margin-top: -4vh;
    object-fit: cover;
    position: absolute;
    z-index: 50;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.sitting-bunny {
    width: 65vw;
    height: 65vh;
    margin-left: 36.74vw;
    margin-top: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.skiped-bunny {
    width: 65vw;
    height: 65vh;
    margin-left: 38vw;
    margin-top: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.text-container {
    position: absolute;
    top: 21%;
    left: 75%;
    z-index: 15;
}

.text-container-rage {
    position: absolute;
    top: 18%;
    left: 45%;
    z-index: 65;
}

.skip-button {
    position: absolute;
    top: 85%;
    left: 55%;
    z-index: 15;
}

.shutup-button {
    position: absolute;
    top: 85%;
    left: 35%;
    z-index: 15;
}

.button-arrow {
    position: absolute;
    top: 85%;
    left: 75%;
    z-index: 15;
}

.temp-box {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 5vw;
    height: 5vh;
    z-index: 64;
    background: #383347;
}